{% load static %}
{% load bbcode_tags %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="{% static '/css/bootstrap/bootstrap.css'%}" />
  <link rel="stylesheet" href="{% static '/css/custom/board.css'%}">
  <link rel="stylesheet" href="{% static '/css/bootstrap-imageupload.min.css'%}">
  <link rel="stylesheet" href="{% static '/js/styles/default.css' %}">
  <link rel="stylesheet" href="{% static '/js/styles/darkula.css' %}">

  <title>{{board.name}}</title>
</head>

<body>
  <div class="container">
    <div class="jumbotron">
      <h1>/{{board.url}} - {{board.name}}</h1>
      <p>{{board.description}}</p>
    </div>
    {% for thread in threads%}
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title"><a href="/thread/{{thread.thread_id}}">{{thread.name}}</a></h4>
            <p class="card-text">
              <img class="mini-image" src="{{MEDIA_URL}}{{thread.image.url}}" width="200px" onclick="showImage('{{MEDIA_URL}}{{thread.image.url}}');" />
              <br>
              {% autoescape off %}
              {% bbcode entry.bbcode_content %}
              {{thread.body|safe|bbcode}}
              {% endautoescape %}
            </p>
          </div>
        </div>
      </div>
    </div>
    {% endfor%}
  </div>


  <div class="modal fade" role="dialog" id="image-modal">
    <div class="modal-dialog">
      <div class="model-content">
        <div class="modal-body">
          <img id="show-image" src="" />
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="{% static '/js/jquery/jquery-3.2.1.min.js'%}"></script>
  <script type="text/javascript" src="{% static '/js/popper.js-1.12.5/dist/umd/popper.min.js'%}"></script>
  <script type="text/javascript" src="{% static '/js/bootstrap/bootstrap.min.js'%}"></script>
  <script type="text/javascript" src="{% static '/js/bootstrap-imageupload.min.js'%}"></script>
  <script type="text/javascript" src="{% static '/js/highlight.pack.js' %}"></script>
  <script type="text/javascript" src="{% static '/js/custom/board.js'%}"></script>
  <script type="text/javascript" src="{% static '/js/custom/showImage.js'%}"></script>
  <script>hljs.initHighlightingOnLoad();</script>
</body>

</html>
