<div class="modal-body">
   <div class="form-group">
     <label class="control-label col-sm-10" for="thread_name"><b></b></label>
     <div class="col-sm-10">
       <input type="text" class="form-control" name="name" id="thread_name" placeholder="New topic name" required>
     </div>
   </div>
   <div class="form-group">
     <div class="col-sm-offset-2 col-sm-10">
       <div class="imageupload panel panel-default" id="my-imageupload">
        <div class="panel-heading clearfix">
            <h3 class="panel-title pull-left">Image</h3>
        </div>
        <div class="file-tab panel-body">
            <label class="btn btn-primary btn-file">
                <span>Browse</span>
                <!-- The file is stored here. -->
                <input type="file" name="image">
            </label>
            <button type="button" class="btn btn-default">Remove</button>
        </div>
      </div>
     </div>
   </div>
   <div class="form-group">
     <div class="col-sm-10">
       <textarea name="body" id="thread_body" class="form-control" rows="8" cols="80" required></textarea>
     </div>
   </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-dismiss="modal">Back</button>
  <button type="submit" class="btn btn-primary">Create new post</button>
</div>
