{%load static%}
{%load custom_paginator%}
<!DOCTYPE html>
<html>

<head>
  <title>fupmach</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <link rel="stylesheet" href="{%static '/css/bootstrap/bootstrap.css'%}" />
  <link rel="stylesheet" href="{%static '/css/custom/index.css'%}">
</head>

<body>
  <div class="container">

    <div id="title" class="jumbotron">
      <img class="logo-img" src="{%static '/img/logo200.png'%}" />
      <h1>ФУПМач</h1>
      <p>Make DCAM great again!</p>
    </div>

    <div id="boards" class="row">
      {%for i in num_pages%}
      <div class="col-12 col-md-4">
        <ul class="list-group">
          {%for item in board_list|get_page:i%}
            {%if item.type == 'category' %}
              <li class="list-group-item"><b>{{item.name}}</b>{%if item.is_adults%} <span class="badge badge-danger">18+</span>{%endif%}</li>
            {%else%}
              <li class="list-group-item"><a href="/{{item.url}}">{{item.url}} - {{item.name}}</a></li>
            {%endif%}
          {%endfor%}
        </ul>
      </div>
      {%endfor%}
    </div>
  </div>





  <script type="text/javascript" src="{%static '/js/jquery/jquery-3.2.1.js'%}"></script>
  <script type="text/javascript" src="{%static '/js/popper.js-1.12.5/dist/umd/popper.js'%}"></script>
  <script type="text/javascript" src="{%static '/js/bootstrap/bootstrap.js'%}"></script>
</body>

</html>
