{% load static %}
{% load bbcode_tags %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="{% static '/css/bootstrap/bootstrap.css' %}" />
  <link rel="stylesheet" href="{% static '/css/custom/board.css' %}">
  <link rel="stylesheet" href="{% static '/css/bootstrap-imageupload.min.css' %}">
  <link rel="stylesheet" href="{% static '/js/styles/default.css' %}">
  <link rel="stylesheet" href="{% static '/js/styles/darkula.css' %}">

  <title>{{ thread.name }}</title>
</head>

<body>
  <div class="container">
    <div class="jumbotron">
      <h1>{{ thread.name }}</h1>
      <img src="{{ MEDIA_URL }}{{ thread.image.url }}" width="400px" onclick="showImage('{{ MEDIA_URL }}{{ thread.image.url }}');" />
      <p>
        {% autoescape off %}
        {% bbcode entry.bbcode_content %}
        {{ thread.body|safe|bbcode }}
        {% endautoescape %}
      </p>
      <button type="button" class="btn btn-primary float-right" name="button" data-toggle="modal" data-target="#post-modal">New post</button>
    </div>

    {% for post in posts %}
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="card">
          <div class="card-body">
            <div id="{{post.post_id}}" class="card-header">
              <a href="#{{post.post_id}}">#{{post.post_id}}</a>
            </div>
            <h4 class="card-title">{{ post.name }}</h4>
            <p class="card-text">
              {% if post.image.url != None %}
              <img class="mini-image" src="{{ MEDIA_URL }}{{ post.image.url }}" width="200px" onclick="showImage('{{ MEDIA_URL }}{{ post.image.url }}');" />
              <br>
              {% endif %}
            </p>
            {% autoescape off %}
            {% bbcode entry.bbcode_content %}
            {{ post.body|safe|bbcode }}
            {% endautoescape %}
            <br>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <div class="modal fade" role="dialog" id="image-modal">
    <div class="modal-dialog">
      <div class="model-content">
        <div class="modal-body">
          <img id="show-image" src="" />
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="post-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">New post</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form class="form-horizontal" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="thread" value="{{ thread.thread_id }}">
        {% include 'form.html' %}
        </form>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="{% static '/js/jquery/jquery-3.2.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static '/js/popper.js-1.12.5/dist/umd/popper.min.js' %}"></script>
  <script type="text/javascript" src="{% static '/js/bootstrap/bootstrap.min.js' %}"></script>
  <script type="text/javascript" src="{% static '/js/bootstrap-imageupload.min.js' %}"></script>
  <script type="text/javascript" src="{% static '/js/highlight.pack.js' %}"></script>
  <script type="text/javascript" src="{% static '/js/custom/showImage.js' %}"></script>
  <script type="text/javascript">
      hljs.initHighlightingOnLoad();
  </script>
</body>

</html>
